/* Chatroom */

section#chatroom {
    height: 85%;
    overflow: auto;
}

.chatboxClass {
    background: #2C2B3B;
    height: 500px;
    padding: 0px 0px 0px 30px;
}


/* Messages */

div.message {
    padding: 30px 40px 30px 40px;
    border-radius: 0px 40px 40px 40px;
    width: max-content;
    color: #FFFFFF;
    background: #343348;
}


/* Message Input */

div.messageContainer {
    position: relative;
    width: 100%;
    padding: 30px 30px 0px 0px;
}

.message_form {
    display: flex;
}

.message_input_box {
    width: 100%
}

.message_form {
    background: #252432;
    border: 2px solid #4F4E60;
    border-radius: 36px;
}

.send_message_button {
    width: 170px;
    border-radius: 0px 27px 0px 0px;
    padding: 12px 0px 12px 0px;
    background: linear-gradient(164.87deg, #FD15D7 -14.27%, #F2994A 113.86%);
    border: 0px
}


/* Username Input */

form#change_username_form {
    height: 3%;
    display: inline-block;
}


/* Fonts */

div.message,
#message_input_box {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
}

#username_input_box {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}

.send_message_button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
}