.main_publisher {
    background: #252431;
}

.two_column_container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.left_column {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.right_column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left_column_profile_section {
    background: #282735;
    height: 120px;
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
}

.profile_top_left_menu {
    background: #ffffff;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    flex-shrink: 0;
}

.profile_empty_spacer {
    height: 20px;
    width: 100%;
}

.profile_image {
    background: #444351;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    flex-shrink: 0;
}

.profile_title {
    margin-left: 8px;
}

.profile_section_divider {
    background: #3d3d48;
    height: 3px;
}

.right_column__row_flex__show_info_section {
    display: flex;
    align-items: center;
    height: 50vh;
    margin: 0px 50px 0px 50px;
}

.video_player_container {
    width: 448px;
    height: 252px;
}

.live_shows__column_flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.live_shows__pinned_comments_button {
    padding: 14px 60px 14px 60px;
    border-radius: 27px;
    border: 0px;
    background: linear-gradient(170.51deg, #FD15D7 -14.27%, #F2994A 113.86%);
}

.live_shows__bottom_spacer {
    height: 25px;
}

.chatbox_container {
    background: #282735;
    height: 100%;
}

/* Fonts */

.profile_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.live_shows__listeners_count {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.live_shows__elasped_time {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 40px;
    color: #FFFFFF;
}

.live_shows__pinned_comments_button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.publisher-icon {
    color: white;
}

.live-timer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
}

.live-timer-container.subscriber .publisher-icon {
    display: none;
}

.live-timer-container.subscriber {
    width: 70%;
    margin: 0 auto;
    padding-left: 0;
}

/* VideoPlayer */

.slider-container .slider {
    width: 70%;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.slider-label {
    color: white;
    font-size: 14px;
    opacity: 0.72;
}